﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="col-md-6">
    <form method="post" enctype="multipart/form-data" style="text-align:center">
        <b>Исходный текст:</b><br />
        <textarea name="text" style="width:30vw; height:15em">@ViewBag.BaseValue</textarea><br />
        <input type="file" name="file" id="file" /><br />
        
        <label>@Html.RadioButton("encrypt", "true", ViewBag.Decrypt==null, null)Зашифровать</label>
        <label>@Html.RadioButton("encrypt", "false",ViewBag.Decrypt!=null, null)Расшифровать</label><br />
        <select name="dict">
            <option value="RussianFull" selected=@((ViewBag.Dict==null)||(ViewBag.Dict=="RussianFull"))>Русский</option>
            <option value="RussianShort" selected=@((ViewBag.Dict=="RussianShort"))>Русский без Ё</option>
            <option value="English" selected=@((ViewBag.Dict=="English"))>Английский</option>
        </select><br />
        <input type="text" name="key" value="@ViewBag.Key" placeholder="Ключ" /><br />
        <input type="submit" />
    </form>
</div>
<div class="col-md-6" style="text-align:center">
    @if (ViewBag.Result != null)
    {

        <b >Результат:</b>
        <br />
        <textarea name="result" style="width:30vw; height:15em">@ViewBag.Result</textarea>
        <br />
        <form action="@Url.Action("DownloadFile")" method="post">
            Скачать в формате:<br />
            <input type="submit" name="type" value="txt" /><br />
            <input type="submit" name="type" value="docx" /><br />
            <input type="hidden" name="text" value="@ViewBag.Result" />
        </form>

    }
</div>

@section Scripts{
    <script>

    </script>
}